@charset "utf-8";
.ifocus{
	height:310px;
	width:700px;
	overflow:hidden;
	margin-bottom: 9px;
}
.ifocus_pic{
	overflow:hidden;
	width:700px;
	height:240px;
	position:relative;
}
.ifocus_piclist{
	position:absolute;
	left:0;
	top:0;
}
.ifocus_piclist li{
	width:700px;
	height:240px;
	overflow:hidden;
}
.ifocus_piclist li a{
	display:block;
	height:240px;
	overflow:hidden;
}
.ifocus_piclist li a img{
	width: 700px;
	height: 240px;
}
.ifocus_tx {
	position:absolute;
	left:0;
	bottom:0;
	width:700px;
	height:100px;
	text-align:center;
	background-image: -webkit-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,.8));
	background-image: -moz-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,.8));
	background-image: -o-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,.8));
	background-image: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,.8));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='.00FFFFFF',endColorstr='.333333',gradientType=0)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='.00ffffff',endColorstr='.333333',gradientType=0);
}
.ifocus_tx a {
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 18px;
	color: #fff;
}
.ifocus_tx a:hover {
	color: #50B332
}
.ifocus_tx .normal {
	display: none
}
.ifocus_btn{
	width: 704px;
	height: 69px;
	background: #000;
}
.ifocus_btn li {
	width: 172.5px;
	height: 65px;
	cursor: pointer;  
	overflow: hidden;
	float:left;
	margin: 2px;
	margin-right: 0;
	position: relative;
	z-index: 99
}
.ifocus_btn li img{
	width: 100%;
	height: 100%;
}
.ifocus_btn li div{
	width: 100%;
	height: 65px;
	font-size:14px;
	color: .000;
	background: rgba(255,255,255,.6);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	text-shadow:1px 1px 1px .eee;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.ifocus_btn li div span{
	display: block;
	padding:20px 10px 0px;
}
.ifocus_btn .current div{
	top: -75px;
}