html,body{
	width:100%;
	height: 100%;
	overflow: hidden;
}
.wx-container{
	display:none;
}
#header {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.46rem;
	line-height: 0.46rem;
	background: #CD235C;
	padding: 0;
	color: #eee;
	font-size: 0.16rem;
	text-align: center;
	font-weight: bold;
}

#footer {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.5rem;
	line-height: 0.5rem;
	color:#fff;
	font-size: 0.16rem;
	text-align: center;
	background: #444;
	padding: 0;
}

#wrapper {
	position: absolute;
	z-index: 1;
	top: 0.45rem;
	bottom: 0.5rem;
	left: 0;
	width: 100%;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
/*自定义滚动条的样式*/
.iScrollVerticalScrollbar {
	position: absolute;
	z-index: 9999;
	width: 4px;
	bottom: 2px;
	top: 2px;
	right: 1px;
	overflow: hidden;
}
.iScrollVerticalScrollbar .iScrollIndicator {
	width: 100%;
	background: rgba(65, 65, 65, 0.4);
    border-radius: 2px;
}


