<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>angularjs17</title>
	<script src="angular.min.js"></script>
</head>
<body>
<div ng-app="qtt" ng-controller="ctrl"  style="text-align:left;">
	年龄：<input type="text" ng-model="user.age">
	邮箱：<input type="text" ng-model="user.mail" ng-readonly="user.uid">
</div>
<script type="text/javascript">
	//声明一个模块变量（类似于实例化一个前台模型）
 	var m = angular.module('qtt',[]);
 	//模型下的控制器，里面有个回调函数
 	m.controller('ctrl',['$scope',function ($scope){
 		$scope.user = {age:33, uid:1, mail:'774757551@qq.com'}
 	}])
</script>
</body>
</html>