@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
html{color:#000;-webkit-text-size-adjust:none;/* -webkit-user-select:none;*/}
body,button,input,select,textarea,pre{font-size:12px;font-family:'Microsoft YaHei';outline: none;}
button,input,textarea{
    border:0;
}
h1,h2,h3,h4,h5,h6{font-size:100%}
h3,h4,h5,h6{font-weight:normal}
ul,ol,li{list-style:none}
hr{border:0;background:#999;height:1px}
i{font-style:normal}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
textarea{resize:vertical;resize:none;}
button{cursor:pointer}
input{border:0;outline: none;}
a{text-decoration: none;outline: none;}





