@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
html{color:#333;-webkit-text-size-adjust:none;/* -webkit-user-select:none;*/}
body,button,input,select,textarea,pre{font-size:16px;font-family:'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','Tahoma','WenQuanYi Micro Hei','STHeiti',sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%}
h3,h4,h5,h6{font-weight:normal}
ul,ol,li{list-style:none}
hr{border:0;background:#999;height:1px}
a{text-decoration:none;color:#333;-webkit-touch-callout:none}
i{font-style:normal}
a:hover{cursor:pointer;color:#49BAA0;}
*:focus{outline:0}
fieldset,img{border:0}
img{max-width:100%}
table{border-collapse:collapse;border-spacing:0}
textarea{resize:vertical}
button{cursor:pointer}
button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}
label,select,button,input[type="button"],
input[type="checkbox"],
input[type="submit"],
input[type="reset"],
input[type="radio"]{cursor:pointer}
textarea,input[type="datetime-local"],
input[type="password"],
input[type="datetime"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="color"],
input[type="month"],
input[type="text"],
input[type="date"],
input[type="time"],
input[type="week"],
input[type="url"],
input[type="tel"],
.edit-input{transition:border linear .2s,box-shadow linear .2s;box-shadow:inset 0 2px 2px rgba(59,163,84,0.075);border:solid 1px #c8c8c8;background-color:#fff;}
textarea:focus,
input[type="datetime-local"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="color"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
.edit-input:focus{outline:0;background:#fff !important;}
/* .fom:focus{height:45px;}*/
.left{float:left}
.right{float:right}
.clear{clear:both}
.t-left{text-align:left}
.t-right{text-align:right}
.t-center{text-align:center}
.v-top{vertical-align:top}
.v-bottom{vertical-align:bottom}
.v-center{vertical-align:center}
.hide{display:none}
.show{display:block}
.inline{display:inline}
.inlineBlock{display:inline-block;zoom:1}
.block,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}
.p-rt{position:relative}
.p-al{position:absolute}
.p-fd{position:fixed}
.o-fh{overflow:hidden;}
.o-wt{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.clearfix{zoom:1}
.wordwrap{word-break:break-all;word-wrap:break-word;}
.w-xl{width:100%;}
.w-xo{width:993px}
.w-xs{width:960px}
.w-780{width:780px;}
.clr-0{color:#000}
.clr-3{color:#333}
.clr-6{color:#666}
.clr-9{color:#999}
.clr-c{color:#ccc;}
.clr-f{color:#FFF}
.clr-f60{color: #FF6600}
.clr-g{color:#3BA354}
.clr-f65{color: #ff6500}
.bgd-0{background:#000}
.bgd-3{background:#333}
.bgd-6{background:#666}
.bgd-9{background:#999}
.bgd-f{background:#FFF}
.bgd-e{background:#EEE}
.bgd-c{background:#CCC}
.bgd-d{background:#DDD}
.bgd-r{background:#FF0000}
.bgd-g{background:#3BA354}

.f10{font-size:10px}
.f12{font-size:12px}
.f14{font-size:14px}
.f15{font-size:15px;}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f22{font-size:22px}
.f24{font-size:24px}
.f26{font-size:26px}
.f28{font-size:28px}
.f30{font-size:30px}
.fb{font-weight:bold}
.fn{font-weight:normal}
.fi{font-style:oblique;}
.f-l-s{font-family: '宋体';}
.m-0{margin:0px !important}
.m-10ao{margin:10px auto}
.m-05{margin:5px}
.m-10{margin:10px}
.m-15{margin:15px}
.m-20{margin:20px}
.m-25{margin:25px}
.m-30{margin:30px}
.m-lr05{margin:0px 5px}
.m-lr10{margin:0px 10px}
.m-lr15{margin:0px 15px}
.m-lr20{margin:0px 20px}
.m-lr25{margin:0px 25px}
.m-lr30{margin:0px 30px}
.m-tm05{margin:5px 0px}
.m-tm10{margin:10px 0px}
.m-tm15{margin:15px 0px}
.m-tm20{margin:20px 0px}
.m-tm25{margin:25px 0px}
.m-tm30{margin:30px 0px}
.m-t-5{margin-top:-5px}
.m-t0{margin-top:0px;}
.m-t02{margin-top: 2px}
.m-t05{margin-top:5px}
.m-t10{margin-top:10px}
.m-t15{margin-top:15px}
.m-t20{margin-top:20px}
.m-t25{margin-top:25px}
.m-t30{margin-top:30px}
.m-l0{margin-left:0px}
.m-l05{margin-left:5px}
.m-l10{margin-left:10px}
.m-l15{margin-left:15px}
.m-l20{margin-left:20px}
.m-l25{margin-left:25px}
.m-l30{margin-left:30px}
.m-r0{margin-right:0px}
.m-r05{margin-right:5px}
.m-r10{margin-right:10px}
.m-r15{margin-right:15px}
.m-r20{margin-right:20px}
.m-r25{margin-right:25px}
.m-r30{margin-right:30px}
.m-b0{margin-bottom:0px}
.m-b05{margin-bottom:5px}
.m-b10{margin-bottom:10px}
.m-b15{margin-bottom:15px}
.m-b20{margin-bottom:20px}
.m-b25{margin-bottom:25px}
.m-b30{margin-bottom:30px}
.m-ao{margin:0 auto}
.p-0{padding:0px}
.p-05{padding:5px}
.p-10{padding:10px}
.p-15{padding:15px}
.p-20{padding:20px}
.p-25{padding:25px}
.p-30{padding:30px}
.p-l05{padding-left:5px}
.p-l10{padding-left:10px}
.p-l15{padding-left:15px}
.p-l20{padding-left:20px}
.p-l25{padding-left:25px}
.p-l30{padding-left:30px}
.p-r05{padding-right:5px}
.p-r10{padding-right:10px}
.p-r15{padding-right:15px}
.p-r20{padding-right:20px}
.p-r25{padding-right:25px}
.p-r30{padding-right:30px}
.p-t05{padding-top:5px}
.p-t10{padding-top:10px}
.p-t15{padding-top:15px}
.p-t20{padding-top:20px}
.p-t25{padding-top:25px}
.p-t30{padding-top:30px}
.p-m05{padding-bottom:5px}
.p-m10{padding-bottom:10px}
.p-m15{padding-bottom:15px}
.p-m20{padding-bottom:20px}
.p-m25{padding-bottom:25px}
.p-m30{padding-bottom:30px}
.p-lr05{padding:0px 5px}
.p-lr10{padding:0px 10px}
.p-lr15{padding:0px 15px}
.p-lr20{padding:0px 20px}
.p-lr25{padding:0px 25px}
.p-lr30{padding:0px 30px}
.p-tm05{padding:5px 0px}
.p-tm10{padding:10px 0px}
.p-tm15{padding:15px 0px}
.p-tm20{padding:20px 0px}
.p-tm25{padding:25px 0px}
.p-tm30{padding:30px 0px}
.radius-2{-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px;border-radius: 2px;}
.radius-3{-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;}
.radius-4{-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;}
.radius-5{-webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;}
.radius-y{-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;border-radius: 50%;}
.radius-x{border-radius:none}
.box-x{box-shadow:none !important;}
.text-s{text-shadow:1px 1px 0px;}
.text-x{text-shadow:none}
.w-100{width:100px;}
.w-150{width:150px;height:36px;}
.w-158{width:158px;}
.w-165{width:165px;}
.w-170{width:170px;}
.w-175{width:175px;height:36px;}
.w-195{width:195px;}
.w-200{width:220px;}
.w-250{width:250px;}
.w-400{width:400px;}
.w-420{width:420px;}
.w-450{width:450px;}
.w-500{width:450px;}
.w-545{width: 545px}
.w-550{width: 550px;}
.w-585{width:585px;height:56px;}
.w-580{width:580px;}
.w-605{width:605px;}
.w-640{width:640px;}
.w-720{width:720px;}
.w-780{width:780px;}
.h-22{height:22px;}
.h-36{height:36px;}
.h-80{height:80px;}
.h-100{height:100px;}
.h-120{height:120px;}
.h-210{height:210px;}
.l-h26{line-height: 26px;}
.l-h22{line-height: 22px;}
.l-h24{line-height: 24px;}