.gf-footer-container{
	padding-top: 0px !important; 
}
.gf-detail-container{
	width:1200px;
	padding-top:15px;
	margin: 0px auto;
}
.gf-detail-content{
	width: 100%;
	background: #FBFAF8;
	padding-bottom: 25px;
}
.gf-detail-content:after{
	content:"";
	clear:both;
	display: block;
}
.gf-detail-left{
	width:866px;
	float: left;
	padding-top:40px;
}
.gf-detail-right{
	width:290px;
	float: right;
	margin-right: 18px;
}
.gf-bookDetail-container{
	width:100%;
}
.gf-bookDetail-content{
	margin-left: 41px;	
}
.gf-bookDetail-content:after{
	content:"";
	clear:both;
	display: block;
}
.gf-bookDetail-left{
	width:182px;
	height: 243px;
	display: block;
	float: left;
	margin-left: 41px;
}
.gf-bookDetail-left img{
	width: 100%;
	height: 100%;
}
.gf-bookDetail-right{
	width:560px;
	float: right;
}
.gf-bookDetail-bookTitle{
	width: 100%;
    height: 24px;
    color: #684539;
    font-size: 22px;
    line-height: 24px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.gf-bookDetail-bookTitle:hover{
	color:#0D6DD7;
}
.gf-bookDetail-bookList{
	width:100%;
	padding-top:20px;
}
.gf-bookDetail-bookLi{
	color: #584B4B;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
}
.gf-bookDetail-bookLi span{
	display: block;
	float: left;
}
.gf-bookDetail-bookLiName{
	color: #584B4B;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    display: block;
	float: left;
}
.gf-bookDetail-bookLiCon{
	margin-left: 3px;	
}
.gf-bookDetail-bookLiCon{
	display: block;
	float: left;
}
.gf-bookDetail-bookLis{
	display: block;
	margin-left: 3px;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	color: #584B4B;
}
.gf-bookDetail-bookA{
	color: #00AED1;
    text-decoration: none;
}
.gf-bookDetail-pageBox{
	width:100%;
	height: 33px;
	border-bottom: 1px solid #D6CDBB;
}
.gf-bookDetail-page{
	float: right;
	margin-right: 10px;
}
.gf-bookDetail-prevPage{
	display: block;
	float: left;
	padding-left:10px;
	padding-right:10px;
	border-right:1px solid #94817a;
	color: #80655D;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    margin-top: 12px;
}
.gf-bookDetail-prevPage:hover{
	color:#0D6DD7;
}
.gf-bookDetail-nextPage{
	display: block;
	float: left;
	color: #80655D;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    margin-top: 12px;
    padding-left:10px;
}
.gf-bookDetail-nextPageTitle{
	color: #80655D;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
}
.gf-bookDetail-nextPageTitle:hover{
	color:#0D6DD7;
}
.gf-bookDetail-editBox{
	width:100%;
	height: 36px;
	border-bottom: 1px solid #D6CDBB;
}
.gf-bookDetail-editLeft{
	float: left;
}
.gf-bookDetail-editDList{
	float: left;
	height: 36px;
	line-height: 36px;
	color: #95817A;
    font-size: 12px;
    margin-left: 16px;
    margin-right: 16px;
}
.gf-bookDetail-editDNum{
	padding-left:5px;
}
.gf-bookDetail-editRight{
	float: right;
	margin-right: 10px;
}
.gf-bookDetail-editBtn{
	display: block;
	float: left;
	width:57px;
	height: 22px;
	margin-left: 4px;
	margin-top: 7px;
}
.gf-bookDetail-editBtn.jiangou{
	background: url(../Images/gf-jiangou-btn.png) no-repeat;
}
.gf-bookDetail-editBtn.yuedu{
	background: url(../Images/gf-yuedu-btn.png) no-repeat;
}
.gf-bookDetail-editBtn.xiazai{
	background: url(../Images/gf-xiazai-btn.png) no-repeat;
}
.gf-jianjieDetail-container{
	width:100%;
	padding-top:50px;
}
.gf-jianjieDetail-navBox{
	width:100%;
	height: 23px;
	border-bottom: 1px solid #D6CDBB;
}
.gf-jianjieDetail-navInner{
	height: 23px;
	margin-left:54px;
	border-left:5px solid #FF9B58;
	position:relative;
}
.gf-jianjieDetail-nav{
	display: block;
	float: left;
	height: 15px;
	line-height: 14px;
	margin-top: 3px;
	width: 92px;
	text-align: center;
	color: #95817A;
    font-size: 14px;
}
.gf-jianjieDetail-nav.active{
	color:#333333;
	font-weight: 700;
}
.gf-jianjieDetail-nav2{
	border-left:1px solid #E1D4D5;
	border-right:1px solid #E1D4D5;
}
.gf-jianjieDetail-nav3{
	width: 115px;
}
.gf-jianjieDetail-navIcon{
	display: block;
    width: 18px;
    height: 8px;
    background: url(../Images/collect-jjtt.png) no-repeat;
    position: absolute;
    left: 39px;
    top: 27px;
}
.gf-jianjieDetail-content{
	width:80%;
	padding-top:22px;
	margin-left: 54px;
}
.gf-jianjieDetail-con{
	display: none;
	width:743px;
	border:1px solid #B5A59A;
}
.gf-jianjieDetail-con.active{
	display: block;
}
.gf-jianjieDetail-innerCon{
	width:705px;
    height: 90px;
    overflow: hidden;
    line-height: 30px;
    padding-top:40px;
    margin-left: 20px;
    color: #555658;
    font-size: 14px;
}
.gf-jianjieDetail-bottom{
	width: 100%;
    height: 16px;
    line-height: 16px;
    color: #684539;
    font-size: 14px;
    margin-top: 30px;
    padding-bottom: 10px;
}
.gf-jianjieDetail-bottomClick{
	display: block;
    height: 16px;
    float: right;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}
.gf-jianjieDetail-bottomTxt{
	float: left;
	height: 16px;
	line-height: 16px;
	color: #684539;
    font-size: 14px;
}
.gf-jianjieDetail-bottomIcon{
	display: block;
	float: left;
    width: 12px;
    height: 9px;
    background: url(../Images/q-detail-down.png) no-repeat;
    margin-left: 10px;
    margin-top: 4px;
}
.gf-jianjieDetail-bottomIcon.cur{
	background: url(../Images/q-detail-up.png) no-repeat;
}
.gf-tuijianDetail-container{
	border:1px solid #D6CDBB;
	width:817px;
	padding-top:20px;
	padding-bottom:20px;
	background: #F8F7F2;
	margin-top: 50px;
	margin-left:45px;
}
.gf-tuijianDetail-title{
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-indent:20px;
	color:#654A41;
	font-size:16px;
}
.gf-tuijianDetail-content{
	width:100%;
	overflow: hidden;
	padding-top:20px;
}
.gf-tuijianDetail-box{
	width: 850px;
}
.gf-tuijianDetail-box:after{
	content:"";
	clear:both;
	display: block;
}
.gf-tuijianDetail-list{
	width:104px;
	height: 195px;
	float: left;
	margin-left: 15px;
	margin-right:18px;
	margin-top: 5px;
}
.gf-tuijianDetail-listImgBox{
	display: block;
	width:94px;
	height:122px;
	margin-left: 5px;
}
.gf-tuijianDetail-listImgBox img{
	width: 100%;
	height: 100%;
}
.gf-tuijianDetail-listTitle{
	display: block;
	width: 100%;
	height: 16px;
	line-height: 16px;
	padding-top: 16px;
	color:#594949;
	font-size: 12px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.gf-tuijianDetail-listTitle:hover{
	color:#0D6DD7;
}
.gf-tuijianDetail-listAuthor{
	display: block;
	width: 100%;
	height: 16px;
	line-height: 16px;
	padding-top: 8px;
	color:#999;
	font-size: 12px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.gf-rightDetail-container{
	width:100%;
}
.gf-rightDetail-title{
	width:100%;
	height: 30px;
	line-height: 30px;
	color:#fff;
	font-size:14px;
	text-indent: 16px;
	background: #3788E2;
}
.gf-rightDetail-content{
	width:288px;
	border:1px solid #D6CDBB;
	background: #F8F7F2;
}
.gf-rightDetail-box{
	width: 280px;
	padding-top:3px;
	padding-bottom: 12px;
	margin-left: 12px;
}
.gf-rightDetail-box:after{
	display: block;
	content:"";
	clear:both;
}
.gf-rightDetail-nav{
	max-width: 250px;
	padding-left:12px;
	padding-right:12px;
	height: 24px;
	line-height: 24px;
	display: block;
	float: left;
	margin-right: 5px;
	margin-top: 12px;
	background: #EBE8E3;
	color:#86736D;
	font-size: 14px;
}
.gf-rightDetail-nav:hover{
	color:#0D6DD7;
}
.q-HomeDetail-conmmonLeft-list{
	width: 260px;
    height: 148px;
    position: relative;
    margin-top: 15px;
    margin-left: 13px;
}
.q-HomeDetail-conmmonLeft-img {
    display: block;
    width: 91px;
    height: 121px;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #dcd7d4;
}
.q-HomeDetail-conmmonLeft-img img {
    width: 91px;
    height: 121px;
    position: absolute;
    top: 0;
    left: 0;
}
.q-HomeDetail-conmmonLeft-con {
    width: 145px;
    height: 80px;
    overflow: hidden;
    position: absolute;
    top: 57px;
    right: 0;
}
.q-HomeDetail-conmmonLeft-book_title {
    width: 100%;
    height: 14px;
    color: #5A4A4A;
    font-size: 14px;
    line-height: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    display: block;
}
.q-HomeDetail-conmmonLeft-book_author {
    width: 100%;
    height: 14px;
    margin-top: 10px;
    line-height: 14px;
    color: #5A4A4A;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}