.fl-journalList-wrap{
	float: left;
	width:100%;
	border-top:2px solid #2E84EB;
}
.fl-journalList-container{
	width:1300px;
	min-height:100px;
	margin: 0 auto;
}
.fl-journalList-websideBox{
	width:100%;
	height: 50px;
}
.fl-journalList-websideWrap{
	width:100%;
	float: left;
	height:18px;
	line-height: 18px;
	margin-top:17px;
}
.fl-journalList-websideIcon{
	display: block;
	float: left;
	width:17px;
	height: 18px;
	margin-left: 3px;
	margin-right: 10px;
	background: url(../Images/Journal/fl-journal-homeIcon.png) no-repeat;
}
.fl-journalList-websideHome{
	display:block;
	float: left;
	height: 18px;
	line-height: 18px;
	color:#5C5C5C;
	font-size:14px;
}
.fl-journalList-websideSanIcon{
	display: block;
	float: left;
	width: 9px;
	height: 10px;
	margin-left: 12px;
	margin-right: 20px;
	margin-top:4px;
	background: url(../Images/Journal/fl-journal-sanjiao.png) no-repeat;
}
.fl-journalList-websidePosition{
	display:block;
	float: left;
	height: 18px;
	line-height: 18px;
	color:#5C5C5C;
	font-size:14px;
}
.fl-journalList-main{
	width:100%;
}
.fl-journalList-main:after{
	content:"";
	display:block;
	clear:both;
}
.fl-journalList-left{
	width:290px;
	min-height:100px;
	float:left;
	padding-bottom:30px;
}
.fl-journalList-right{
	width:986px;
	min-height:100px;
	float:right;
	padding-bottom:30px;
}
.fl-journalList-leftTitleBox{
	width:288px;
	height: 33px;
	border:1px solid #F4C887;
}
.fl-journalList-leftTitleIcon{
	display: block;
	float: left;
	width:16px;
	height: 19px;
	margin-top: 7px;
	margin-left:12px;
	background: url(../Images/Journal/fl-journal-searchIcon.png) no-repeat;
}
.fl-journalList-leftTitleTxt{
	display: block;
	float: left;
	height: 33px;
	line-height: 33px;
	color:#3F3F3F;
	font-size: 14px;
	margin-left: 10px;
}
.fl-journalList-table{
	width:100%;
	border:1px solid #DDD9DA;
}
.fl-journalList-table tr td{
	height:30px;
	border:1px solid #DDD9DA;
	line-height: 30px;
	color:#898989;
	font-size:13px;
}
.fl-journalList-table thead tr td{
	background: #E5E5E5;
	color:#3F3F3F;
}
.fl-journalList-table tbody tr.active .fl-journalList-tableTitle{
	color:#FD9A00;
}
.fl-journalList-table .fl-journalList-tableTd1{
	width:218px;
	text-indent: 10px;
}
.fl-journalList-table .fl-journalList-tableTitle{
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
	max-width: 205px;
	width:205px\0;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#898989;
}
.fl-journalList-table .fl-journalList-tableTd2{
	text-align: center;
}
.fl-journalList-selectBox{
	width:100%;
	height: 28px;
}
.fl-journalList-select{
	height: 28px;
	color:#888;
	font-size: 13px;
	line-height: 28px;
	float: left;
	border:1px solid #CFCFCF;
	text-indent: 1px;
}
.fl-journalList-select{
	height: 28px;
	color:#888;
	font-size: 13px;
	line-height: 28px;
	float: left;
	border:1px solid #CFCFCF;
	text-indent: 1px;
}
.fl-journalList-input{
	width:287px;
	height: 26px;
	line-height: 26px;
	color:#888;
	font-size: 13px;
	float: left;
	border:1px solid #CFCFCF;
	margin-right: 9px;
	text-indent: 10px;
}
.fl-journalList-inputTime{
	width:66px;
	height: 26px;
	line-height: 26px;
	color:#888;
	font-size: 13px;
	float: left;
	border:1px solid #CFCFCF;
	margin-left: 9px;
	text-indent: 6px;
}
.fl-journalList-inputLine{
	display: block;
	width: 12px;
	height: 2px;
	background: #999999;
	margin-top: 14px;
	margin-left:5px;
	margin-right:5px;
	float: left;
}
.fl-journalList-inputBtn{
	width: 90px;
	height: 28px;
	background: #74A1DC;
	color:#fff;
	font-size: 14px;
	text-align: center;
	float: right;
	cursor: pointer;
}
.fl-journalList-inputBtn:hover{
	filter:alpha(opacity=80);  
    opacity: 0.8;  
}
.fl-journalList-resultBox{
	width:984px;
	height: 40px;
	line-height: 40px;
	border:1px solid #CFCFCF;
	background: #F3F3F3;
	margin-top: 7px;
}
.fl-journalList-resultIcon{
	display: block;
	float: left;
	width:15px;
	height: 18px;
	background:url(../Images/Journal/fl-journal-dataIcon.png) no-repeat;
	margin-top: 12px;
	margin-left:14px;
}
.fl-journalList-resultName{
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	color:#333333;
	font-size: 15px;
	margin-left: 9px;
}
.fl-journalList-resultNum{
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	color:#E50B09;
	font-size: 12px;
	margin-left: 23px;
}
.fl-journalList-resultTxt{
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	color:#666666;
	font-size: 12px;
	margin-left: 6px;
}
.fl-journalList-orderByBox{
	width:100%;
	height: 40px;
	background: #6A97D2;
}
.fl-journalList-orderByName{
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	color:#fff;
	font-size:14px;
	margin-left: 14px;
}
.fl-journalList-orderByRight{
	height: 40px;
	float: left;
	margin-left: 8px;
}
.fl-journalList-orderByNav{
	display: block;
	float: left;
	height: 26px;
	line-height: 26px;
	background: #fff;
	border-radius: 3px;
	margin-top: 7px;
	margin-right: 10px;
}
.fl-journalList-orderByNav.active{
	background: #FD9A00;
}
.fl-journalList-orderByNav.active .fl-journalList-orderByTxt{
	color:#fff;
}
.fl-journalList-orderByNav.active .fl-journalList-orderByIcon{
	background: url(../Images/Journal/fl-journal-searchDown_cur.png) no-repeat;
}
.fl-journalList-orderByTxt{
	display: block;
	float: left;
	padding-left:11px;
	padding-right:8px;
	height: 26px;
	line-height: 26px;
	color:#959595;
	font-size:12px;
}
.fl-journalList-orderByIcon{
	display: block;
	float: left;
	width:9px;
	height: 13px;
	margin-top: 7px;
	padding-right:10px;
	background: url(../Images/Journal/fl-journal-searchDown.png) no-repeat;
}
.fl-journalList-orderByPageBox{
	float: right;
	margin-right: 22px;
	height: 26px;
	margin-top: 7px;
}
.fl-journalList-orderByPageLess{
	width:26px;
	height: 26px;
	line-height: 26px;
	color:#999;
	font-size:12px;
	text-align: center;
	float:left;
	margin-right: 4px;
	background: #fff;
	font-family: simsun;
	font-weight: 700;
}
.fl-journalList-orderByPageCurrent{
	padding-left:15px;
	padding-right:15px;
	height: 26px;
	line-height: 26px;
	color:#0272F0;
	font-size:12px;
	float:left;
	margin-right: 6px;
	background: #fff;
}
.fl-journalList-orderByPageTotal{
	height: 26px;
	line-height: 26px;
	color:#fff;
	font-size:12px;
	float:left;
	margin-right: 10px;
}
.fl-journalList-orderByPageMore{
	width:26px;
	height: 26px;
	line-height: 26px;
	color:#999;
	font-size:12px;
	text-align: center;
	float:left;
	background: #fff;
	font-family: simsun;
	font-weight: 700;
}
.fl-journalList-conBox{
	width:100%;
	min-height:100px;
}
.fl-journalList-letterBox{
	width:100%;
	height: 36px;
	background: #F3F3F3;
}
.fl-journalList-letterName{
	float: left;
	height: 36px;
	line-height: 36px;
	color:#666;
	font-size: 12px;
	margin-left: 23px;
}
.fl-journalList-letterRight{
	float: left;
	height: 36px;
	line-height: 36px;
	margin-left: 20px;
}
.fl-journalList-letterRight a{
	display: block;
	float: left;
	height: 36px;
	line-height: 36px;
	color:#2E84EB;
	font-size: 14px;
	margin-right: 20px;
	font-weight: 700;
}
.fl-journalList-letterRight a.active{
	color:red;
}
.fl-journalList-letterAll{
	display: block;
	float: left;
	height: 36px;
	line-height: 36px;
	color:#2E84EB;
	font-size: 14px;
	margin-left: 15px;
}
.fl-journalList-letterAll.active{
	color:red;
}
.fl-journalList-bookBox{
	width:955px;
	margin-left:15px;
}
.fl-journalList-bookList{
	width:100%;
	min-height:162px;
	border-bottom:1px solid #E6E6E6;
	padding-top:25px;
	padding-bottom: 5px;
}
.fl-journalList-bookList:after{
	display:block;
	content:"";
	clear:both;
}
.fl-journalList-bookLeft{
	width:566px;
	padding-top:10px;
	margin-left: 13px;
	float: left;
}
.fl-journalList-bookTitle{
	width:100%;
	max-height: 60px;
	color:#333;
	font-size:14px;
	overflow: hidden;
	line-height: 30px;
}
.fl-journalList-bookli{
	width:100%;
	height: 30px;
	color:#999;
	font-size:14px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	line-height: 30px;
}
.fl-journalList-bookRight{
	width:216px;
	float: right;
}
.fl-journalList-bookFace{
	display: block;
	width:92px;
	height: 124px;
	border:1px solid #E6E6E6;
	margin-left: 60px;
}
.fl-journalList-bookFace img{
	width:100%;
	height: 100%;
}
.fl-journalList-bookView{
	width:100%;
	height: 16px;
	line-height: 14px;
	text-align: center;
	padding-top:10px;
	color:#999;
	font-size:12px;
}
/*新样式*/
.fl-PrceedingList-list{
	width:100%;
	padding-bottom: 22px;
}
.fl-PrceedingList-listInner{
	width:954px;
	padding-left:15px;
	padding-right:15px;
	padding-top:18px;
	padding-bottom:15px;
	border:1px solid #E6E6E6;
	background: #fff;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-ms-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
}
.fl-PrceedingList-listInner:hover{
	background:#FFFBEF;
}
.fl-PrceedingList-listTitle{
	width:100%;
	line-height: 26px;
	color:#124F92;
	font-size:16px;
}
.fl-PrceedingList-listTitle:hover{
	color:#FF9A00;
}
.fl-PrceedingList-listTime{
	width:100%;
	line-height: 26px;
	color:#525051;
	font-size:14px;
}
.fl-PrceedingList-listAuthor{
	width:100%;
	line-height: 26px;
	color:#124F92;
	font-size:16px;
}
.fl-PrceedingList-listAuthor:hover{
	color:#FF9A00;
}
.fl-PrceedingList-listContent{
	width:100%;
	line-height: 26px;
	color:#525051;
	font-size:14px;
	padding-top:7px;
}
























