<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../../org/angular.min.js"></script>
    <link rel="stylesheet" href="../../org/bootstrap.min.css">
    <link rel="stylesheet" href="./index.css">
    <!--字体库css-->
    <link rel="stylesheet" href="../../org/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--处理删除数据的js库-->
    <script src="../../org/underscore-min.js"></script>
    <script>
//        测试 _.without
        //var e =  _.without([1, 2, 1, 0, 3, 1, 4], 0, 1);
        //console.log(e);
        var e =  _.without([1, 1, 0,1], 0, 1);
        console.log(e);
    </script>
</head>
<body ng-app="hd" ng-controller="ctrl">
    <form action="" method="POST" class="form-horizontal" role="form">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <div class="mobile">
                        <dl ng-repeat="(k,v) in data.button">
                            <dt ng-bind="v.name"></dt>
                            <dd>
                                <a href="" ng-repeat="(m,n) in v.sub_button" ng-bind="n.name"></a>
                            </dd>
                        </dl>

                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">编辑</h3>
                        </div>
                        <div class="panel-body">
                            <!--一级菜单开始-->
                            <div class="panel panel-default topMenu" ng-repeat="(k,v) in data.button">
                                <i class="fa fa-times-circle fa-2x top" ng-click="removeTopMenu(v)"></i>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">标题</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="v.name">
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="!v.sub_button || v.sub_button.length==0">
                                        <label for="" class="col-sm-2 control-label">类型</label>
                                        <div class="col-sm-10">
                                            <div class="radio">
                                            	<label>
                                            		<input type="radio" ng-model="v.type" ng-value="'click'">关键字
                                            	</label>
                                                <label>
                                                    <input type="radio" ng-model="v.type" ng-value="'view'">url
                                                </label>
                                            </div>
                                            <!--{{v.type}}-->
                                        </div>
                                    </div>
                                    <!--{{v.sub_button}}-->
                                    <div class="form-group" ng-if="v.type=='click' &&  (!v.sub_button || v.sub_button.length==0)">
                                        <label for="" class="col-sm-2 control-label">关键字</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="v.key">
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="v.type=='view' && (!v.sub_button || v.sub_button.length==0)">
                                        <label for="" class="col-sm-2 control-label">url</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="v.url">
                                        </div>
                                    </div>
                                    <!--二级开始-->
                                    <div class="panel panel-default subMenu" ng-repeat="(m,n) in v.sub_button">
                                        <i class="fa fa-times-circle fa-2x sub" ng-click="removeSubMenu(v,n)"></i>
                                    	<div class="panel-body">
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">标题</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="n.name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">类型</label>
                                                <div class="col-sm-10">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" ng-model="n.type" ng-value="'click'">关键字
                                                        </label>
                                                        <label>
                                                            <input type="radio" ng-model="n.type" ng-value="'view'">url
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-if="n.type=='click'">
                                                <label for="" class="col-sm-2 control-label">关键字</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="n.key">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-if="n.type=='view'">
                                                <label for="" class="col-sm-2 control-label">url</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="n.url">
                                                </div>
                                            </div>
                                    	</div>
                                    </div>
                                    <!--二级结束-->
                                    <button type="button" ng-click="addSubMenu(v)" class="btn btn-info">添加二级菜单</button>
                                </div>
                            </div>
                            <!--一级结束-->
                            <button type="button" ng-click="addTopMenu()" class="btn btn-success">添加一级菜单</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
<script>
    angular.module('hd',[]).controller('ctrl',['$scope',function($scope){
        $scope.data =  {
            "button":[
                {
                    "type":"click",
                    "name":"今日歌曲",
                    "key":"V1001_TODAY_MUSIC"
                },
                {
                    "type":"click",
                    "name":"菜单",
                    "sub_button":[
                        {
                            "type":"view",
                            "name":"搜索",
                            "url":"http://www.soso.com/"
                        },
                        {
                            "type":"view",
                            "name":"视频",
                            "url":"http://v.qq.com/"
                        },
                        {
                            "type":"click",
                            "name":"赞一下我们",
                            "key":"V1001_GOOD"
                        }
                    ]
                }
            ]
        }
        //添加顶级菜单
        $scope.addTopMenu = function(){
            var html = {
                "type":"",
                "name":"",
                "key":""
            };
            if($scope.data.button.length==3){
               alert('一级菜单最多添加三个')
            }else{
                $scope.data.button.push(html);
            }
        }
        //添加二级菜单
        //topMenue【一级】是把二级添加到那个一级菜单去
        $scope.addSubMenu = function(topMenu){
            var html = {
                "type":"",
                "name":"",
                "key":""
            };
            //如果没有sub_button,先创造出来一个
            if(!topMenu.sub_button)(topMenu.sub_button=[]);
            if(topMenu.sub_button.length==5){
                alert('二级菜单最多添加五个');
            }else{
                topMenu.sub_button.push(html);
            }
        }
        //删除一级菜单
        $scope.removeTopMenu = function(topMenu){
            //_.without(array, *values)
            //返回一个删除所有values值后的 array副本
            $scope.data.button = _.without($scope.data.button,topMenu);
        }
        //删除二级菜单
        //topMenu 以及菜单数组数据
        //subMenu  topMenu下面的二级菜单的数组数据
        $scope.removeSubMenu = function(topMenu,subMenu){
            topMenu.sub_button =_.without(topMenu.sub_button,subMenu);
        }

    }])
</script>