<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>angularjs</title>
	<script src="angular.min.js"></script>
</head>
<body>
<div ng-app="qtt" ng-controller="ctrl"  style="text-align:center;">
	<br/>
	搜索：<input type="text" ng-model="search">
	<table border="1" style="width:550px;margin:0 auto;">
		<thead>
			<tr>
				<td ng-click="orderBy('id')">
					编号
				</td>
				<td ng-click="orderBy('click')">
					点击数
				</td>
				<td ng-click="orderBy('title')">
					标题
				</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(k,v) in lists">
				<td>
					{{v.id}}
				</td>
				<td>
					{{v.click}}
				</td>
				<td>
					{{v.title}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	//声明一个模块变量（类似于实例化一个前台模型）
 	var m = angular.module('qtt',[]);
 	//模型下的控制器，里面有个回调函数
 	m.controller('ctrl',['$scope','$filter',function ($scope,$filter){
 		$scope.data =[
 			{id:1,click:100,title:'仇郯郯'},
 			{id:2,click:200,title:'仇明杰'},
 			{id:3,click:300,title:'仇明论'}
 		];
 		$scope.lists = $scope.data;
 		$scope.$watch("search",function(n,o){
 			$scope.lists = $filter("filter")($scope.data,n);
 		});
 	}])
</script>
</body>
</html>