@charset "utf-8";
.q-agency-body{
	width: 770px;
	min-height: 100px;
	margin: 20px auto;
}
.q-agency-f1_title{
	width: 770px;
	height: 36px;
	line-height: 36px;
	color:#009adf;
	font-size: 12px;
	border-bottom:1px solid #dfdfdf;
}
.q-agency-f1_title_img{
	float: left;
	display: block;
	margin-top: 9px;
	margin-left: 14px;
}
.q-agency-f1_title_text{
	display: block;
	float: left;
	margin-left: 13px;
}
.q-agency-f1-tab_box{
	min-width:98px;
	height: 18px;
	float: right; 
	margin-top: 15px;
}
.q-agency-f1-tab_ul{
	float: left;
	margin-top: 5px;
}
.q-agency-f1-tab_li{
	width:6px;
	height: 6px;
	float: left;
	background: url(../images/q-agency-f1-tab_li.png) no-repeat;
	margin-right: 7px;
	cursor:pointer;
}
.q-agency-f1-tab_li_cur{
	width:6px;
	height: 6px;
	float: left;
	background: url(../images/q-agency-f1-tab_li_cur.png) no-repeat;
	margin-right: 7px;
	cursor:pointer;
}
.q-agency-f1-tab_left{
	width: 18px;
	height: 18px;
	background: url(../images/collect-zhfy_left.png) no-repeat;
	margin-left: 4px;
	float: left;
	margin-right: 6px;
	cursor:pointer;
}
.q-agency-f1-tab_right{
	width: 18px;
	height: 18px;
	background: url(../images/collect-zhfy_right.png) no-repeat;
	margin-left: 4px;
	float: left;
	margin-right: 6px;
	cursor:pointer;
}
.q-agency-move-main{
	width: 770px;
	min-height: 1px;
}
.q-agency-move-main_list{
	width: 770px;
	min-height: 1px;
	display: none;
	margin-top: 15px;
	margin-left: 15px;
}
.q-agency-con_list{
	height: 14px;
	line-height: 14px;
	margin-right: 25px;
	margin-bottom: 12px;
	float: left;
}
.q-agency-con_list_checkbox{
	display: block;
	float: left;
	margin-right: 6px;
	margin-top: 1px;
}
.q-agency-con_list_text{
	line-height: 14px;
	height: 14px;
	color: #646464;
	float: left;
}
.q-agency-f2_title{
	width: 770px;
	height: 36px;
	line-height: 36px;
	color:#009adf;
	font-size: 12px;
	border-bottom:1px solid #dfdfdf;
}
.q-agency-f2_title_img{
	float: left;
	display: block;
	margin-top: 9px;
	margin-left: 14px;
}
.q-agency-f2_title_text{
	display: block;
	float: left;
	margin-left: 13px;
}
.q-agency-f3_title{
	width: 770px;
	height: 36px;
	line-height: 36px;
	color:#009adf;
	font-size: 12px;
	border-bottom:1px solid #dfdfdf;
}
.q-agency-f3_title_img{
	float: left;
	display: block;
	margin-top: 9px;
	margin-left: 14px;
}
.q-agency-f3_title_text{
	display: block;
	float: left;
	margin-left: 13px;
}
.q-agency-move-container{
	width: 415px;
	min-height: 30px;
	margin: 20px auto;
}
.q-agency-move-label{
	width: 480px;
	min-height: 30px;
	margin-bottom: 10px;
}
.q-agency-move-input{
	width: 180px;
	height: 28px;
	border:1px solid #c8c8c8;
	line-height: 28px;
	padding-left: 5px;
	color: #000;
	font-size: 12px;
	display: block;
	float: left;
}
.q-agency-move-input_box{
	width: 187px;
	min-height: 28px;
	float: left;
}
.q-agency-line{
	width: 27px;
	height: 2px;
	background: url(../images/q-agency-line_bg.png) no-repeat;
	display: block;
	float: left;
	margin-top: 12px;
	margin-left: 4px;
	margin-right: 4px;
}
.q-agency-move-add{
	width: 21px;
	height: 21px;
	display: block;
	float: left;
	background: url(../images/q-setStrategyAlert-search_submit_bg.png) no-repeat;
	margin-left: 8px;
	margin-top:4px;
	display: none;
}
.q-agency-move-add_cur{
	display: block;
}
.q-agency-move-notice1{
	width: 176px;
	height: 25px;
	line-height: 25px;
	color: red;
	display: none;
	float: left;
}
.q-agency-move-notice2{
	width: 176px;
	height: 25px;
	line-height: 25px;
	color: red;
	display: none;
	float: left;
}
.q-agency-btn_box{
	width: 100%;
	height: 39px;
	text-align: center;
	margin-top: 40px;
}
.q-agency-btn_save{
	width: 103px;
	height: 39px;
	background: url(../images/q-common-save-btn.png) 0 0 no-repeat;
	cursor: pointer;
}
.q-agency-btn_save:hover{
	width: 103px;
	height: 39px;
	background: url(../images/q-common-save-btn.png) 0 -45px no-repeat;
	cursor: pointer;
}








































