.q-CompanyProfile-body{
	width: 1024px;
	min-height: 36px;
	padding-top: 25px;
	margin: 25px auto;
	background: #F8FBF4;
}
.q-CompanyProfile-title{
	width: 1024px;
}
.q-CompanyProfile-bottom{
	width: 1024px;
}
.q-CompanyProfile-content{
	width: 1024px;
	min-height: 30px;
	background: #F8FBF4;
	color: #000000;
	font-size: 16px;
	line-height: 42px;
	padding-bottom: 45px;
	padding-top: 30px;
}
.q-CompanyProfile-page1{
	width: 760px;
	margin-left: 133px;
	margin-top: -81px;
}
.q-CompanyProfile-pageCommom{
	width: 860px;
	margin-left: 82px;
	margin-top: 10px;
	text-indent: 2em;
}
.q-CompanyProfile-bottomBox{
	padding-bottom: 38px;
}
.q-CompanyProfile-titleBox{
	width: 100%;
	height: 100px;
	background: #CFE5C1;
}
.q-CompanyProfile-title{
	width: 1000px;
	margin-left:12px;
	height: 20px;
	font-size: 20px;
	color:#000002;
	text-align: center;
	padding-top:25px;
	line-height: 20px;
	font-weight: 700;
	letter-spacing: 2px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.q-CompanyProfile-date{
	width: 1000px;
	margin-left:12px;
	height: 20px;
	font-size: 20px;
	color:#333;
	text-align: center;
	padding-top:17px;
	line-height: 20px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
















