.q-reasonAlert-body{
	min-width: 550px;
	min-height: 30px;
	margin-left:40px;
	margin-top: 30px;
}
.q-reasonAlert-container{
	width: 570px;
	min-height: 28px;
}
.q-reasonAlert-name{
	width: 80px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	color: #646464;
	float: left;
	margin-bottom: 12px;
}
.q-reasonAlert-box{
	width: 490px;
	min-height: 28px;
	line-height: 28px;
	float: left;
}
.q-reasonAlert-label{
	float: left;
	margin-right: 20px;
	margin-bottom: 16px;
	color: #4b6c8b;
	background: #fff;
	border:1px solid #dedddc;
	-webkit-border-radius:4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius:4px;
	padding-left: 10px;
	margin-bottom: 12px;
	font-size: 14px;
	cursor: pointer;
}
.q-reasonAlert-label:hover{
	color: #4b6c8b;
	background: #f3f9fe;
	border:1px solid #d5edf8;
}
.q-reasonAlert-label_cur{
	color: #4b6c8b;
	background: #f3f9fe;
	border:1px solid #d5edf8;
}
.q-error-icon{
	color: #fa412d;
	margin-left: 13px;
	margin-right: 8px;
	font-weight: 700;
	cursor: pointer;
}
.q-reasonAlert-input{
	width: 167px;
	height: 26px;
	border: 2px solid #1E99C3;
	padding-left: 5px;
	line-height: 26px;
	display: block;
	float: left;
	color: #4b6c8b;
	font-size: 14px;
	border-radius: 0;
}
.q-reasonAlert-save-box{
	width: 100%;
	margin-top: 55px;
	height: 40px;
}
.q-reasonAlert-save{
	width: 103px;
	height: 39px;
	background:url(../images/q-common-save-btn.png) 0 0 no-repeat;
	display: block;
	float: left;
	margin-left: 227px;
	cursor: pointer;
}
.q-reasonAlert-save:hover{
	background:url(../images/q-common-save-btn.png) 0 -45px no-repeat;
}
.q-reasonAlert-name span{
	color:red;
}











