* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/**
 *
 * Pull down styles
 *
 */
@media screen and (max-width: 20000px) {
	html{
		font-size: 34px;
		width: 22.588rem;
		height: 100%;
		background: #EEEEEE;
		overflow: hidden;
	}
	body{
		width: 22.588rem;
		margin: 0 auto;
	}
	#loadingText{
		width: 100%;
	    text-align: center;
	    font-size: .9rem;
	    line-height: 1rem;
	    margin-left: 1.76rem;
	    margin-top: 1.3rem;
	    color: #FFD7C4;
	}
	#loadingTips{
		z-index:99;
		width: 3.08rem;
		height: 4.62rem;
		/*background: url(../images/face.png) no-repeat;*/
		left:50%;/*FF IE7*/
		top:50%;/*FF IE7*/
		margin-left:-1.54rem;/*FF IE7 该值为本身宽的一半 */
		margin-top:-2.31rem;/*FF IE7 该值为本身高的一半*/
		position:fixed!important;/*FF IE7*/
		position:absolute;/*IE6*/
		_top:expression(eval(document.compatMode &&
		     document.compatMode=='CSS1Compat') ?
		     documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
		     document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
	}
	#loadinglogoText{
		width: 7rem;
		height: 2.2rem;
		background: url(../images/text.png) no-repeat;
		background-size: 100%;
		margin-left: 0.2rem;
		margin-top: -2rem;
	}
	#loadingFace{
		width: 5rem;
	    height: 5rem;
	    background: url(../images/face.png) no-repeat;
	    background-size: 100%;
	    margin-left: 1.1rem;
	    margin-top: 0.3rem;
	    animation-name: cicle;
	    animation-duration: 5s;
	    animation-timing-function: linear;
	    animation-delay: 0s;
	    animation-iteration-count: infinite;
	    animation-direction: normal;
	    animation-play-state: running;
	    -webkit-animation-name: cicle;
	    -webkit-animation-duration: 5s;
	    -webkit-animation-timing-function: linear;
	    -webkit-animation-delay: 0s;
	    -webkit-animation-iteration-count: infinite;
	    -webkit-animation-direction: normal;
	    -webkit-animation-play-state: running;
	}
	@-webkit-keyframes cicle {
		0% { -webkit-transform: rotateY(0deg); }
		100% { -webkit-transform: rotateY(360deg); }
	}
	@-moz-keyframes cicle {
		0% { -moz-transform: rotateY(0deg); }
		100%  { -moz-transform: rotateY(360deg); }
	}
	@-ms-keyframes cicle {
		0% { -ms-transform: rotateY(0deg); }
		100% { -ms-transform: rotateY(360deg); }
	}
	@-o-keyframes cicle {
		0% { -o-transform: rotateY(0deg); }
		100% { -o-transform: rotateY(360deg); }
	}
	@keyframes cicle {
		0% { transform: rotateY(0deg); }
		100% { transform: rotateY(360deg); }
	}
	#header{
		width: 100%;
	    height: 2rem;
	    position: absolute;
	    top: 0;
	    left: 0;
	    background: #FE5400;
	    padding-top: 0.3rem;
	    padding-bottom: 0.3rem;
	}
	#footer {
		position:absolute; 
		z-index:2;
		bottom:0; 
		left:0;
		width: 100%;
		height: 2.5rem;
		background: #FFFFFF;
		border-top:1px solid #F6F6F6;
		text-align: center;
	}
	#wrapper{
		position:absolute; 
		z-index:1;
		top:2rem; 
		bottom:2.5rem; 
		left: 0;
		width: 100%;
	}
	#scroller {
		position:absolute; 
		z-index:1;
		width: 100%;
		padding:0;
	}
	#pullUp {
		background: #fff;
	    height: 2.5rem;
	    line-height: 2.3rem;
	    padding: 0.05rem 0.1rem;
	    border-bottom: 1px solid #ccc;
	    font-weight: bold;
	    font-size: 0.6rem;
	    color: #888;
	    overflow: hidden;
	}
	#pullDown {
		background: #fff;
	    height: 2.5rem;
	    line-height: 2.5rem;
	    padding: 0.05rem 0.1rem;
	    border-bottom: 1px solid #ccc;
	    font-weight: bold;
	    font-size: 0.6rem;
	    color: #888;
	    display: none;
	    overflow: hidden;
	}
	.pullUpLabel{
		margin-left:0.5rem;
	}
	#pullUp .pullUpIcon  {
		display: block;
	    float: left;
	    width: 0.8rem;
	    height: 1.5rem;
	    background: url(../images/pull-icon@2x.png) 0 0 no-repeat;
	    background-size: 100%;
	    margin-left: 0.8rem;
	    margin-top: 0.2rem;
	    -webkit-transition-property: -webkit-transform;
	    -webkit-transition-duration: 250ms;
	}
	#pullDown .pullDownIcon {
		display: block;
	    float: left;
	    width: 0.8rem;
	    height: 1.5rem;
	    background: url(../images/pull-icon@2x.png) 0 0 no-repeat;
	    background-size: 100%;
	    margin-left: 0.8rem;
	    margin-top: 0.7rem;
	    margin-right: 0.3rem;
	    -webkit-transition-property: -webkit-transform;
	    -webkit-transition-duration: 250ms;
	}
	#pullDown .pullDownIcon {
		-webkit-transform:rotate(0deg) translateZ(0);
	}
	#pullUp .pullUpIcon  {
		-webkit-transform:rotate(-180deg) translateZ(0);
	}

	#pullDown.flip .pullDownIcon {
		-webkit-transform:rotate(-180deg) translateZ(0);
		 margin-top: 0.2rem;
	}

	#pullUp.flip .pullUpIcon {
		-webkit-transform:rotate(0deg) translateZ(0);
		 margin-top: 0.7rem;
	}

	#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
		width: 2rem;
	    height: 2rem;
	    background: url(../images/load.gif) no-repeat;
	    background-size: 100%;
	    margin-top: 0.2rem;
	    margin-left: 0.4rem;
	}
	.pullDownLabel{
		padding-left: 0.3rem;
		float: left;
	}
	.tb-logo{
		width: 1.5rem;
        height: 1.8rem;
        float: left;
        background: url(../images/logo.png) no-repeat;
        background-size: 100%;
        margin-left: 0.29rem;
        margin-top: 0.12rem;
	}
	.tb-inputBox{
		width: 88%;
	    background-color: #B52600;
	    text-align: center;
	    margin-left: 10%;
	    border-radius: 0.2rem;
	    height: 1.4rem;
	}
	.tb-input{
		font-size: 0.5rem;
		color: #fff;
		height: 1.30rem;
		line-height: 1.30rem;
	}
	.tb-inputIcon{
		display: inline-block;
        width: 0.7rem;
        height: 1.1rem;
        background: url(../images/searchIcon.png) no-repeat;
        background-size: 100%;
        float: left;
        margin-top: 0.04rem;
	}
	.tb-inputCenter{
		margin: 0 auto;
    	width: 6.5rem;
	}
	.tb-inputText{
		float: left;
        line-height: 1.5rem;
        margin-left: 0.29rem;
        font-size: .7rem;
        color: #EED5CD;
	}
	.footList{
		width: 2.5rem;
	    height: 2.5rem;
	    display: inline-block;
	    margin-right: 1.577rem;
	}
	.home{
	    background: url(../images/home.png) no-repeat;
    	background-size: 100%;
    	margin-left: 1.02rem;
	}
	.transport{
		background: url(../images/transport.png) no-repeat;
		background-size: 100%;
	}
	.buyCar{
		background: url(../images/buyCar.png) no-repeat;
		background-size: 100%;
	}
	.mytt{
		background: url(../images/mytt.png) no-repeat;
		background-size: 100%;
	}
	.more{
		background: url(../images/more.png) no-repeat;
		background-size: 100%;	
	}
	.swiper-container {
        width: 100%;
        height: 6.5rem;       
    }
    .swiper-slide {
    	display: block;
        width: 100%;
        height: 6.5rem;
    }
    .swiper-slide img{
    	width: 100%;
        height: 6.5rem;
    }
    .tb-ListBox{
    	width: 100%;
    	background:#fff;
    	border-bottom: 1px solid #F9F9F9;
    }
    .tb-ListCenter{
    	margin-left: 1.5rem;
    	width: 23.555rem;
    	padding-bottom: 1rem;
    }
    .tb-ListCenter:after{
    	content: "";
    	display: block;
    	clear:both;
    }
    .tb-List{
		display: block;
		width: 4rem;
		padding-top: 0.72rem;
		float: left;
		margin-right: 1.28rem;
		text-decoration: none;
    }
    .tb-ListLogo {
    	width: 2.5rem;
	    height: 2.5rem;
	    margin-left: 0.78rem;
    }
    .tb-tm{
    	background: url(../images/tm.png) no-repeat;
    	background-size: 100%;
    }
    .tb-jhs{
    	background: url(../images/jhs.png) no-repeat;
    	background-size: 100%;
    }
    .tb-dj{
    	background: url(../images/dj.png) no-repeat;
    	background-size: 100%;
    }
    .tb-wm{
    	background: url(../images/wm.png) no-repeat;
    	background-size: 100%;
    }
    .tb-cz{
    	background: url(../images/cz.png) no-repeat;
    	background-size: 100%;
    }
    .tb-ly{
    	background: url(../images/ly.png) no-repeat;
    	background-size: 100%;
    }
    .tb-ljb{
    	background: url(../images/tjb.png) no-repeat;
    	background-size: 100%;
    }
    .tb-fl{
    	background: url(../images/fl.png) no-repeat;
    	background-size: 100%;
    }
    .tb-ListText{
    	font-size: 0.8rem;
	    width: 100%;
	    height: 0.5rem;
	    line-height: 0.5rem;
	    margin-top: 0.6777rem;
	    text-align: center;
	    color: #333;
	}
    .tb-tbttBox{
    	width: 103%;
    	height: 2.058rem;
    	background: #fff;
    }
    .tb-tbttLeft{
    	width: 4.911rem;
    	height: 1.7rem;
    	margin-top: 0.176rem;
    	border-right:1px solid #F9F9F9;
    	float: left;
    }
    .tb-tbttTitle{
    	width: 3.629rem;
    	float: left;
    	margin-top: 0.355rem;
    	margin-left: 0.794rem;
    }
    .tb-tbttRight{
    	width: 16.882rem;
    	height: 1.2176rem;
    	float: left;
    	margin-top: 0.455rem;
    	margin-left: 0.5882rem;
    	overflow: hidden;
    }
    .tb-tbttRightList{
    	width: 100%;
    	height: 1.2176rem;
    	line-height: 1.2176rem;
    }
    .tb-tbttRightListNew{
    	float: left;
        width: 2.25rem;
        height: 1.176rem;
        line-height: 1.176rem;
        font-size: 0.8rem;
        border: 0.117rem solid #D81421;
        color: #D81421;
        text-align: center;
        border-radius: 0.247rem;
    }
    .tb-tbttRightListCon{
    	width: 14rem;
	    height: 1.2176rem;
	    line-height: 1.2176rem;
	    color: #D81421;
	    float: left;
	    margin-left: 0.582rem;
	    text-decoration: none;
	    font-size: 0.8rem;
    }
    /*淘抢购*/
    .tb-tqgBox{
    	width: 104%;
    	height: 10.823rem;
    	margin-top: 0.294rem;
    	background:#fff;
    }
    .tb-tqgBoxLeft{
    	width: 9.0588rem;
    	height: 10.823rem;
    	border-right:.029rem solid #F9F9F9;
    	background: url(../images/qianggou.jpg) no-repeat;
    	background-size: 100%;
    	float: left;
    }
	.tb-tqgBoxRight{
    	width: 13.5rem;
    	height: 10.823rem;
    	float: left;
    	overflow: hidden;
    }
    .tb-tqgBoxRightTop{
    	width: 100%;
    	height: 4.264rem;
    	display: block;
    }
    .tb-tqgBoxRightTop img{
    	width: 100%;
    	height: 4.264rem;
    	border-bottom:.029rem solid #F9F9F9;
    }
    .tb-tqgBoxRightBottom{
    	width: 100%;
    	height: 6.57rem;
    }
    .tb-tqgBoxRightL{
    	display: block;
    	width: 6.717rem;
    	height: 6.57rem;
    	float: left;
    }
    .tb-tqgBoxRightL img{
		width: 6.717rem;
    	height: 6.57rem;
    	border-right: .029rem solid #F9F9F9;
    }
    .tb-tqgBoxRightR{
    	display: block;
    	width: 6.717rem;
    	height: 6.57rem;
    	float: left;
    }
    .tb-tqgBoxRightR img{
    	width: 6.717rem;
    	height: 6.57rem;
    }
    .tb-CSH-titleBox{
    	width: 100%;
    	height: 2.117rem;
    	background: #EEEEEE;
    }
    .tb-CSH-title{
    	width: 21.911rem;
    	height: 2.117rem;
    	margin: 0 auto;
    	display: block;
    }
    .tb-CSH-content{
    	width: 104%;
    	height: 14.205rem;
    	overflow: hidden;
    }
    .tb-CSH-con{
    	width: 101%;
    	height: 7.117rem;
    }
    .tb-CSH-conList{
    	width: 4.54rem;
    	height: 7.117rem;
    	display: block;
    	float: left;
    	border-right: 0.029rem solid #F9F9F9;
    	overflow: hidden;
    }
    .tb-CSH-conList img{
    	width: 100%;
    	height: 100%;
    	border-bottom: 0.029rem solid #F9F9F9;
    }
    .tb-CSH-conList:nth-child(1){
    	width: 9.1rem;
    }
    /*好品质*/
    .tb-HPZ-content{
    	width: 104%;
    	height: 13.029rem;
    	overflow: hidden;
    }
    .tb-HPZ-conTop{
    	width: 101%;
		height: 5.882rem;
    }
    .tb-HPZ-conTopList1{
    	width: 13.574rem;
    	height: 5.882rem;
    	display: block;
    	float: left;
    }
    .tb-HPZ-conTopList1 img{
    	width: 100%;
    	height: 100%;
    	border-bottom:0.029rem solid #F9F9F9;
    	border-right:0.029rem solid #F9F9F9;
    }
    .tb-HPZ-conTopList2{
    	width: 9.117rem;
    	height: 5.882rem;
    	display: block;
    	float: left;
    }
    .tb-HPZ-conTopList2 img{
    	width: 100%;
    	height: 100%;
    	border-bottom:0.029rem solid #F9F9F9;
    }
    .tb-HPZ-conBottom{
    	width:101%;
    	height: 7.147rem; 
    }
    .tb-HPZ-conBottomList{
    	width: 4.53rem;
    	height: 7.147rem; 
    	display: block;
    	float: left;
    }
    .tb-HPZ-conBottomList img{
    	width: 4.470rem;
    	height: 7.147rem;
    }
    /*令人激动的金属*/
    .tb-JD-banner{
    	width: 100%;
    	height: 4.529rem;
    }
    .tb-JD-banner img{
    	width: 100%;
    	height: 100%;
    }
    /*热门市场*/
    .tb-RMSC-title{
    	height: 2.117rem;
    	float: left;
    	display: block;
    	margin-left: 0.382rem;
    }
    .tb-RMSC-more{
    	height: 2.117rem;
    	float: right;
    }
    .tb-RMSC-content{
    	width: 104%;
    	background: #fff;
    }
    .tb-RMSC-content:after{
    	display: block;
    	content: "";
    	clear: both;
    }
    .tb-RMSC-conLeft{
    	width: 11.31rem;
    	border-right:0.029rem solid #F9F9F9;
    	float: left;
    }
    .tb-RMSC-conRigth{
    	width: 11.264rem;
    	float: left;
    }
    .tb-RMSC-conTop{
    	display: block;
    	width: 100%;
    	height: 8.735rem;
    }
    .tb-RMSC-conTop img{
    	width: 100%;
    	height: 100%;
    }
    .tb-RMSC-conBottom:after{
    	display: block;
    	clear:both;
    	content: "";
    }
    .tb-RMSC-conList{
    	display: block;
	    width: 5.62rem;
	    height: 6.470rem;
	    float: left;
    }
    .tb-RMSC-conList img{
    	width: 100%;
    	height: 100%;
    }
    .tb-RMSC-conList:nth-child(1) img{
    	border-bottom: 0.029rem solid #F9F9F9;
    	border-right:0.029rem solid #F9F9F9;
    }
    .tb-RMSC-conList:nth-child(2) img{
    	border-bottom: 0.029rem solid #F9F9F9;
    }
    .tb-RMSC-conList:nth-child(3) img{
    	border-right:0.029rem solid #F9F9F9;
    }
    /*每日好店*/
    .tb-MRHD-left{
    	float: left;
    	height: 2.117rem;
    	line-height: 2.217rem;
    	border-left:0.352rem solid #FF9B43;
    	color:#424242;
    	font-size: 0.8rem;
    	text-indent: 0.764rem;
    }
    .tb-MRHD-right{
    	float: right;
    	margin-right: 0.558rem;
    }
    .tb-MRHD-rightText{
    	float: left;
    	height: 2.117rem;
    	line-height: 2.217rem;
    	color:#7A7A7A;
    	font-size: 0.8rem;
    }
    .tb-MRHD-icon{
    	width: 1rem;
	    height: 1rem;
	    float: left;
	    margin-left: 0.305rem;
	    background: url(../images/tiaozhuan.png) no-repeat;
	    background-size: 100%;
	    margin-top: 0.598rem;
    }
    .tb-MRHD-content{
    	width: 104%;
    }
    .tb-MRHD-content:after{
    	content:"";
    	clear:both;
    	display: block;
    }
    .tb-MRHD-conleft{
    	display: block;
    	float: left;
    	width: 11.441rem;
    	height: 9.852rem;
    }
    .tb-MRHD-conleft img{
    	width: 100%;
    	height:100%;
    }
    .tb-MRHD-conright{
    	width: 11.176rem;
    	height: 9.852rem;
    	display: block;
    	float: left;
    }
    .tb-MRHD-conright img{
    	width: 100%;
    	height: 100%;
    }
    /*猜你喜欢*/
    .tb-CNXH-content{
    	width: 104%;
    }
    .tb-CNXH-content:after{
    	content:"";
    	display: block;
    	clear:both;
    }
   .tb-CNXH-conList{
   		width: 11.258rem;
   		height: 15.558rem;
   		float:left;
   		display: block;
   		background: #fff;
   		display: block;
   		margin-right: 0.117rem;
   		margin-bottom: 0.147rem;
   		text-decoration: none;
   }
   .tb-CNXH-img{
   		display: block;
   		width: 100%;
   		height: 10.588rem;
   }
   .tb-CNXH-title{
   		width: 9.9rem;
	    height: 2.414rem;
	    line-height: 1.207rem;
	    margin-left: 0.647rem;
	    margin-top: 0.482rem;
	    color: #919191;
	    font-size: 0.8rem;
	    overflow: hidden;
   }
   .tb-CNXH-price{
   		width: 10.147rem;
   		line-height: 1.107rem;
   		margin-left: 0.647rem;
   		margin-top: 0.382rem;
   		color:#F84600;
   		font-size: 0.8rem;
   }
   /*倒计时*/
   .tb-daojishi{
   		height: 1.235rem;
   		margin-top: 3.117rem;
   		margin-left: 0.823rem;
   		line-height: 1.235rem;
   		color:#808080;
   }
   .tb-daojishi span{
		display: inline-block;
        width: 1.235rem;
        height: 1.235rem;
        background: #333333;
        color: #DCDCDC;
        text-align: center;
        font-size: 0.8rem;
        line-height: 1.335rem;
        text-align: center;
        border-radius: 0.117rem;
   }
   .alert{
		display: none;
	}
	.q-alert-cover{
		width:100%;
		height: 100%;
		z-index: 900000;
		position: fixed;
		background:#000;
		top:0;left:0;
		opacity:0.5;filter:alpha(opacity=50);
		z-index: 99999;
	}
	.q-alert_body{
		width:100%;
		height: 100%;
		z-index: 1000000;
		position: fixed;
		top:0;left:0;
		z-index: 100000;
	}
	.q-alert_centerBox{
		font-size: 12px;
		z-index:99;
		width: 0rem;
		height: 0rem;
		background: #FEFDFB;
		left:50%;/*FF IE7*/
		top:50%;/*FF IE7*/
		margin-left:0rem;/*FF IE7 该值为本身宽的一半 */
		margin-top:0rem;/*FF IE7 该值为本身高的一半*/
		position:fixed!important;/*FF IE7*/
		position:absolute;/*IE6*/
		_top:expression(eval(document.compatMode &&
		     document.compatMode=='CSS1Compat') ?
		     documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
		     document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
		border: solid 1px #BCBBB9;
	  -webkit-box-shadow: 0px 0px 10px #000;
	  -moz-box-shadow: 0px 0px 10px #000;
	  -ms-box-shadow: 0px 0px 10px #000;
	  -o-box-shadow: 0px 0px 10px #000;
	  box-shadow: 0px 0px 10px #000;
	  -webkit-border-radius: 0.29rem;
	  -moz-border-radius: 0.29rem;
	  -ms-border-radius: 0.29rem;
	  -o-border-radius: 0.29rem;
	  border-radius: 0.29rem;
	  overflow: hidden;
	}
	.q-alert_centerBox img{
		display: inline-block;
	    width: 2.5rem;
	    height: 2.5rem;
	    margin-top: .7rem;
	    margin-left: 0.9rem;
	    float: left;
	    -webkit-transform: rotate(-20deg);
	    -moz-transform: rotate(-20deg);
	    -ms-transform: rotate(-20deg);
	    -o-transform: rotate(-20deg);
	    transform: rotate(-20deg);
	    animation-name: round;
	    animation-duration: 2s;
	    animation-timing-function: linear;
	    animation-delay: 0s;
	    animation-iteration-count: infinite;
	    animation-direction: normal;
	    animation-play-state: running;
	    -webkit-animation-name: round;
	    -webkit-animation-duration: 2s;
	    -webkit-animation-timing-function: linear;
	    -webkit-animation-delay: 0s;
	    -webkit-animation-iteration-count: infinite;
	    -webkit-animation-direction: normal;
	    -webkit-animation-play-state: running;
	}
	@-webkit-keyframes round {
		0% { -webkit-transform: rotate(-15deg); }
		50% { -webkit-transform: rotate(15deg); }
		100% { -webkit-transform: rotate(-15deg); }
	}
	@-moz-keyframes round {
		0% { -webkit-transform: rotate(-15deg); }
		50% { -webkit-transform: rotate(15deg); }
		100% { -webkit-transform: rotate(-15deg); }
	}
	@-ms-keyframes round {
		0% { -webkit-transform: rotate(-15deg); }
		50% { -webkit-transform: rotate(15deg); }
		100% { -webkit-transform: rotate(-15deg); }
	}
	@-o-keyframes round {
		0% { -webkit-transform: rotate(-15deg); }
		50% { -webkit-transform: rotate(15deg); }
		100% { -webkit-transform: rotate(-15deg); }
	}
	@keyframes round {
		0% { -webkit-transform: rotate(-15deg); }
		50% { -webkit-transform: rotate(15deg); }
		100% { -webkit-transform: rotate(-15deg); }
	}
	.tb-notice{
		display: inline-block;
	    margin-left: .8rem;
	    height: 4rem;
	    line-height: 4rem;
	    font-size: 0.86rem;
	    color: #FF5000;
	    float: left;
	}
	#colse{
		color:#1EB9DD;
		padding-left: 0.3rem;
		text-decoration: underline;
	}
	#backTop{
		width: 2rem;
	    height: 2rem;
	    position: fixed;
	    bottom: 3rem;
	    right: .5rem;
	    background: url(../images/top.png) no-repeat;
	    background-size: 100%;
	    z-index: 9999;
	    display: none;
	}
}
@media screen and (max-width: 1367px) {
	html{
		font-size: 61px;
	} 
}
@media screen and (max-width: 1024px) {
	html{
		font-size: 45.5px;
	} 
}
@media screen and (max-width: 774px) {
	html{
		font-size: 34.2px;
	} 
}
@media screen and (max-width: 769px) {
	html{
		font-size: 34px;
	} 
}
@media screen and (max-width: 737px) {
	html{
		font-size: 32.68px;
	} 
}
@media screen and (max-width: 668px) {
	html{
		font-size: 29.57px;
	} 
}
@media screen and (max-width: 641px) {
	html{
		font-size: 28.5px;
	} 
}
@media screen and (max-width: 569px) {
	html{
		font-size: 25.1px;
	} 
}
@media screen and (max-width: 481px) {
	html{
		font-size: 21.4px;
	} 
} 
@media screen and (max-width: 436px) {
	html{
		font-size: 19.4px;
	} 
} 
@media screen and (max-width: 416px) {
	html{
		font-size: 18.4px;
	}
}
@media screen and (max-width: 412px) {
	html{
		font-size: 18.4px;
	}
}
@media screen and (max-width: 375px) {
	html{
		font-size: 16.49px;
	}
}
@media screen and (max-width: 361px) {
	html{
		font-size: 15.87px;
	}
}
@media screen and (max-width: 321px) {
	html{
		font-size: 14.12px;
	}
}