*{
    padding:0;
    margin: 0;
}
html,body {
    width:100%;
    height: 100%;
    background: #fff url(../img/bg5.png);
}

.full {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.fullscreen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.bg5-4{
    background: url(../img/bg5-4.png) 50% 0 no-repeat;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}
.bg5-3 {
    background: url(../img/bg5-3.png) 50% 0 no-repeat;
    z-index: 10000;
    animation-name: upDown;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    -webkit-animation-name: upDown;
    -webkit-animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
@keyframes upDown{
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: 50% 100%;
    }
}
@-webkit-keyframes upDown{
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: 50% 100%;
    }
}
.figure {
    position: absolute;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    background:#ffffff;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    cursor: pointer;
}
#gallery {
	position: relative;
	z-index: 2;
}
.figure{
	margin: 0 auto;
}
.figure img {
    height:200px;
    float:left;
}

figure figcaption {
    font-family: Comic Sans, Comic Sans MS, cursive;
    color: #8F8476;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
    z-index: 999;
    color:#fff;
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-size:16px;
    height: 40px;
    line-height:40px;
}

button {
    background-color: transparent;
    padding: 10px 24px;
    color: #ffffff;
    border: 2px solid black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    transition: 0.4s;
}

button:hover {
    background-color: #f44336;
    color: white;
}
.tada{
	animation-name:tada;
    animation-duration:1s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-play-state:running;
    /* Safari and Chrome: */
    -webkit-animation-name:tada;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
}
.bounce{
	animation-name:bounce;
    animation-duration:1.5s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-play-state:running;
    /* Safari and Chrome: */
    -webkit-animation-name:bounce;
    -webkit-animation-duration:1.5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
}
.bounceIn{
	animation-name:bounceIn;
    animation-duration:1.5s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-play-state:running;
    /* Safari and Chrome: */
    -webkit-animation-name:bounceIn;
    -webkit-animation-duration:1.5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
}
.pulse{
	animation-name:pulse;
    animation-duration:1.5s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-play-state:running;
    /* Safari and Chrome: */
    -webkit-animation-name:pulse;
    -webkit-animation-duration:1.5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
}
.rubberBand{
	animation-name:rubberBand;
    animation-duration:1.5s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-play-state:running;
    /* Safari and Chrome: */
    -webkit-animation-name:rubberBand;
    -webkit-animation-duration:1.5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
}
.shake{
	animation-name:shake;
    animation-duration:1.5s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-play-state:running;
    /* Safari and Chrome: */
    -webkit-animation-name:shake;
    -webkit-animation-duration:1.5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
}
.swing{
	animation-name:swing;
    animation-duration:1.5s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-play-state:running;
    /* Safari and Chrome: */
    -webkit-animation-name:swing;
    -webkit-animation-duration:1.5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
}
.tada{
	animation-name:tada;
    animation-duration:1.5s;
    animation-timing-function:linear;
    animation-delay:0.5s;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-play-state:running;
    /* Safari and Chrome: */
    -webkit-animation-name:tada;
    -webkit-animation-duration:1.5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0.5s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
}
.flip{
    animation-name:flip;
    animation-duration:1.5s;
    animation-timing-function:linear;
    animation-delay:0.5s;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-play-state:running;
    /* Safari and Chrome: */
    -webkit-animation-name:flip;
    -webkit-animation-duration:1.5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0.5s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
}
.rotateIn{
    animation-name:rotateIn;
    animation-duration:1.5s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-play-state:running;
    /* Safari and Chrome: */
    -webkit-animation-name:rotateIn;
    -webkit-animation-duration:1.5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
}
.wobble{
	animation-name:wobble;
    animation-duration:1.5s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-play-state:running;
    /* Safari and Chrome: */
    -webkit-animation-name:wobble;
    -webkit-animation-duration:1.5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
}
.muisc-box{
    width: 35px !important;
    height: 35px !important;
    cursor: pointer;
    position: fixed;
    right:20px;
    top:20px;
    z-index: 1000;
}
.muisc-box img{
    width: 35px !important;
    height: 35px !important;
    position: absolute;
    left:0;
    right:0;
}
.muisc-box audio{
    width:100%;
    height: 100%;
    position: absolute;
    left:0;
    right:0;
    z-index: 0;
    visibility: hidden;
}
.muisc-paly{
    z-index: 2;
    animation-name:round;
    animation-duration:5s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
    /* Safari and Chrome: */
    -webkit-animation-name:round;
    -webkit-animation-duration:5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-animation-play-state:running;
}
.muisc-paused{
    z-index: 1;
    visibility: hidden;
}
@keyframes round
{
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes round
{
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}