.banner{
	width:100%;
	min-width: 1200px;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.banner .arrow{
	display: none;
	position: absolute;
	top:50%;
	margin-top: -35px;
	width:70px;
	height: 70px;
	cursor: pointer;
	background: url(../images/focus-bg.png) no-repeat;
}
.banner .arrow-left{
	left:5%;
	background-position:0 0;
}
.banner .arrow-right{
	right:5%;
	background-position:-95px 0;
}
.banner .pic{
	position: absolute;
	top:0;
	width:100%;
	height: 100%;
	min-width: 1200px;
	left:50%;
	margin-left: -50%;	
}
.banner .pic img{
	width:100%;
	height: 100%;
}
.banner .foucs{
	z-index: 99;
	position: absolute;
	left:0;
	bottom:37px;
	width:100%;
	text-align: center;
	height: 15px;
}
.banner .foucs li{
	cursor: pointer;
	margin: 0 8px;
	display: inline-block;
	vertical-align: middle;
	width:15px;
	height: 15px;
	background: url(../images/ico-all.png) 0 -216px;
	border-radius: 50%;
}
.banner .foucs li.on{
	background:#66C7E7;
}
.intr{
	width:100%;
	min-width: 1200px;
	height: 246px;
	background: #f5f5f5;
}
.intr li{
	float: left;
	width:300px;
	height: 246px;
	float: left;
}
.intr li .intr-block{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width:300px;
	height: 246px;
}
.intr li .intr-block .ico{
	width:111px;
	height: 115px;
}
.intr li .intr-block1 .ico{
	background-position:0 0;
}
.intr li .intr-block2 .ico{
	background-position: -128px 0;
}
.intr li .intr-block3 .ico{
	background-position: -261px 0;
}
.intr li .intr-block4 .ico{
	background-position: -389px 0;
}
.intr li .intr-block p{
	font-size: 16px;
	line-height: 28px;
}
.product{
	width:100%;
	min-width: 1200px;
}
.product1{
	padding-bottom: 34px;
}
.pt-tit{
	padding-top: 10px;
	padding-bottom: 12px;
	position: relative;
	margin-bottom: 11px;
}
.pt-tit:after{
	content: "";
	width:109px;
	height: 4px;
	background: #1b1b1b;
	position: absolute;
	bottom:0;
}
.pt-tit strong{
	display: block;
	font-size: 26px;
	line-height: 40px;
}
.pt-tit p{
	font-size: 14px;
	color: #666666;
	line-height: 28px;
}
.pt-list{
	width:1200px;
	height: 450px;
	overflow: hidden;
	background: #eeeeee;
	position: relative;
}
.pt-list .pt-list-hb{
	z-index: 999;
	position: absolute;
	width:900px;
	left:0;
	bottom: 38px;
	text-align: center;
}
.pt-list .pt-list-hb li{
	cursor: pointer;
	display: inline-block;
	margin: 0 5px;
	width:10px;
	height: 10px;
	background: url(../images/ico-all.png) no-repeat -108px -313px;
}
.pt-list .pt-list-hb li.on{
	background-position: -81px -313px;
}
.pt-list .arrow{
	z-index: 999;
	cursor: pointer;
	position: absolute;
	top:50%;
	margin-top: -25px;
	width:28px;
	height: 51px;
	display: none;
	background: url(../images/arrow-bg.png) no-repeat;
}
.pt-list .arrow.active{
	display: block;
	animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
}
.pt-list .left-arrow{
	left:62px;
	background-position:0 0;
}
.pt-list .right-arrow{
	left:801px;
	background-position: -43px 0;
}
.pt-list-bd .pt-list-box .pic{
	width:900px;
	height: 450px;
}
.pt-list-bd .pt-list-box .pic img{
	width:100%;
	height: 100%;
}
.pt-list-bd .pt-list-box .info{
	padding: 0 20px;
	width:260px;
	height: 450px;
}
.pt-list-bd .pt-list-box .info .tit{
	line-height: 42px;
	display: block;
	font-size: 24px;
	padding: 24px 0 8px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pt-list-bd .pt-list-box .info .des{
	line-height: 26px;
	color: #666666;
	font-size: 14px;
	height: 100px;
	overflow: hidden;
}
.pt-list-bd .pt-list-box .info .field-select{
	position: relative;
	width:256px;
	height: 28px;
	border: 1px solid #b5b5b5;
	margin-top: 100px;
}

.pt-list-bd .pt-list-box .info .field-select .txt{
	float: left;
	width:213px;
	height: 28px;
	background: #eeeeee;
	text-indent: 8px;
	color: #999999;
}
.pt-list-bd .pt-list-box .info .field-select .btn{
	float: left;
	width:42px;
	border-left: 1px solid #b5b5b5;
	height: 28px;
	background: #eeeeee url(../images/arrow-up.png) no-repeat center center;
	cursor: pointer;
}
.pt-list-bd .pt-list-box .info .field-select .sel-box{
	position: absolute;
	top:30px;
	width:100%;
	background: #fff;
	display: none;
}
.pt-list-bd .pt-list-box .info .field-select .sel-box.active{
	display: block;
	animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
}
.pt-list-bd .pt-list-box .info .field-select .sel-box a{
	display: block;
	line-height: 29px;
	color: #999999;
	padding-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pt-list-bd .pt-list-box .info .field-select .sel-box a:hover{
	background: #f4f4f4;
}
.product2{
	background: #f5f5f5;
	padding-bottom: 23px;
}
.pt-tit-conmm{
	text-align: center;
	padding-bottom: 36px;
}
.pt-tit-conmm .ico{
	width:158px;
	height: 30px;
	margin: 15px auto 5px auto;
	display: block;
	background: url(../images/ico-all.png) no-repeat -342px -168px;
}
.pt-tit-conmm strong{
	display: block;
	font-size: 26px;
}
.pt-tit-conmm p{
	color: #999999;
	font-size: 16px;
	line-height: 24px;
}
.pt2-list li{
	float: left;
	width:368px;
	height: 380px;
	background: #fff;
	padding: 10px;
	margin-right: 18px;
	margin-bottom: 18px;
}
.pt2-list li.mr-0{
	margin-right: 0;
}
.pt2-list li:hover{
	box-shadow: 0 0 10px #ccc;
}
.pt2-list li .pic{
	width:368px;
	height: 239px;
}
.pt2-list li .pic img{
	width:100%;
	height: 100%;
}
.pt2-list li .tit{
	display: block;
	font-size: 16px;
	font-weight: bold;
	padding-top: 5px;
	line-height: 28px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pt2-list li .des{
	height: 51px;
	overflow: hidden;
	line-height: 24px;
	color: #999999;
	font-size: 14px;
}
.pt2-list li .op{
	padding-top: 20px;
}
.pt2-list li .op .price{
	float: left;
	color: #999999;
	font-size: 14px;
}
.pt2-list li .op .price b{
	font-size: 22px;
	color: #ff0000;
	font-weight: normal;
}
.pt2-list li .op .yd{
	float: right;
	width:111px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	background: #ff0000;
	border-radius: 15px;
	font-size: 14px;
}
.product3{
	background: #eeeeee;
}
.product3 .pt-list{
	background: #f5f5f5;
}
.product3 .pt-list-bd .pt-list-box .info .info-con{
	width:260px;
	height: 450px;
	display: table-cell;
	vertical-align: middle;
}
.product3 .pt-list-bd .pt-list-box .info .info-con .dz{
	display: block;
	border-radius: 5px;
	width:156px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	background: #f84f4f;
	color: #fff;
	font-size: 16px;
}
.product4{
	padding-bottom: 52px;
}
.pt4-list{
	height: 180px;
	padding: 10px 0;
	width:1200px;
	box-shadow: 0 0 10px #ccc;
}
.pt4-list .pt4-list-box{
	width:1190px;
	margin-left: 10px;
	height: 180px;
}
.pt4-list li{
	float: left;
	width:360px;
	height: 180px;
	overflow: hidden;
	position: relative;
	margin-right: 15px;
}
.pt4-list li .pic{
	position: absolute;
	top:0;
	left:0;
	width:360px;
	height: 180px;
}
.pt4-list li .info{
	position: absolute;
	bottom:0;
	height: 30px;
	background: url(../images/blue-50.png) repeat;
	color: #fff;
	padding: 0px 30px;
	text-align: center;
}

.pt4-list li .info h2{
	line-height: 30px;
}
.pt4-list li .info p{
	line-height: 22px;
}
.ad-box{
	position: relative;
	height: 400px;
	overflow: hidden;
}
.ad-box ul{
	width: 1920px;
    height: 400px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    overflow: hidden;
}
.ad-box ul li{
	float: left;
}
.ad-box ul a{
	display: table-cell;
    width: 1920px;
    height: 400px;
    vertical-align: middle;
    text-align: center;
}
.ad-box ul li a img{
	vertical-align: middle;
}

.slider{width:100%;min-width:850px;height:443px;position:relative;overflow:hidden;background:#fff;text-align:center;}
.slider .bd{width:850px;position:absolute;left:50%;margin-left:-254px;}
.slider .bd ul{position: relative;overflow: hidden;padding: 0px;margin: 0px;}
.slider .bd li{width:850px;overflow:hidden;float: left;}
.slider .bd li img{display:block;width:850px;height:443px;}
.slider .tempWrap{overflow:visible !important}
.slider .tempWrap ul{margin-left:-850px !important;}

.slider .hd{position:absolute;top:0; left:50%;margin-left: -604px;text-align: left; width:340px;overflow:hidden;height: 443px; z-index:99;}
.slider .hd .hd_con{width:340px;height: 443px; display: table-cell;vertical-align: middle;}
.slider .hd h2{color: #000000;font-size: 26px;line-height: 50px;}
.slider .hd p{color: #373737;line-height: 24px;font-size: 14px;}
.slider .hd a{ display: block;margin-top: 20px;border-radius: 5px; width:200px;height: 50px; line-height: 50px;text-align: center;background: #2fc163;font-size: 18px;color: #fff;}



.slider .pnBtn{position:absolute;top:0;width:100%;height:370px;cursor:pointer;}
.slider .prev{left:-50%;margin-left:-254px;}
.slider .next{left:50%;margin-left:596px;}
.slider .pnBtn .blackBg{display:block;position:absolute;left:0;top:0;width:100%;height:443px;background:#fff;filter:alpha(opacity=90);opacity:0.90;}
.slider .pnBtn .arrow{display:none;position:absolute;top:50%;z-index:999;width:16px; height:29px;margin-top: 15px;}
.slider .prev .arrow{right:-48px;background:url(../images/arrow_left2.png) no-repeat;}
.slider .next .arrow{left:-48px;background:url(../images/arrow_right2.png) no-repeat;}


@media only screen and (max-width: 1280px) {
.banner{
	width:100%;
	min-width: 800px;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.banner .arrow{
	display: none;
	position: absolute;
	top:50%;
	margin-top: -35px;
	width:70px;
	height: 70px;
	cursor: pointer;
	background: url(../images/focus-bg.png) no-repeat;
}
.banner .arrow-left{
	left:4%;
	background-position:0 0;
}
.banner .arrow-right{
	right:4%;
	background-position:-95px 0;
}
.banner .pic{
	position: absolute;
	top:0;
	width:100%;
	height: 100%;
	min-width: 800px;
	left:50%;
	margin-left: -50%;	
}
.banner .pic img{
	width:100%;
	height: 100%;
}
.banner .foucs{
	z-index: 99;
	position: absolute;
	left:0;
	bottom:37px;
	width:100%;
	text-align: center;
	height: 15px;
}
.banner .foucs li{
	cursor: pointer;
	margin: 0 8px;
	display: inline-block;
	vertical-align: middle;
	width:15px;
	height: 15px;
	background: url(../images/ico-all.png) 0 -216px;
}
.banner .foucs li.on{
	background-position: 0 -256px;
}
.intr{
	width:100%;
	min-width: 800px;
	height: 246px;
	background: #f5f5f5;
}
.intr .wm-1200{
	width:800px;
}
.intr li{
	float: left;
	width:200px;
	height: 246px;
	float: left;
}
.intr li .intr-block{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width:200px;
	height: 246px;
}
.intr li .intr-block .ico{
	width:111px;
	height: 115px;
}
.intr li .intr-block1 .ico{
	background-position:0 0;
}
.intr li .intr-block2 .ico{
	background-position: -128px 0;
}
.intr li .intr-block3 .ico{
	background-position: -261px 0;
}
.intr li .intr-block4 .ico{
	background-position: -389px 0;
}
.intr li .intr-block p{
	font-size: 16px;
	line-height: 28px;
}
.product{
	width:100%;
	min-width: 800px;
}
.product .wm-1200{
	width:800px;
}
.product1{
	padding-bottom: 34px;
}
.pt-tit{
	padding-top: 10px;
	padding-bottom: 12px;
	position: relative;
	margin-bottom: 11px;
}
.pt-tit:after{
	content: "";
	width:109px;
	height: 4px;
	background: #1b1b1b;
	position: absolute;
	bottom:0;
}
.pt-tit strong{
	display: block;
	font-size: 26px;
	line-height: 40px;
}
.pt-tit p{
	font-size: 14px;
	color: #666666;
	line-height: 28px;
}
.pt-list{
	width:800px;
	height: 450px;
	overflow: hidden;
	background: #eeeeee;
	position: relative;
}
.pt-list .pt-list-hb{
	z-index: 999;
	position: absolute;
	width:550px;
	left:0;
	bottom: 38px;
	text-align: center;
}
.pt-list .pt-list-hb li{
	cursor: pointer;
	display: inline-block;
	margin: 0 5px;
	width:10px;
	height: 10px;
	background: url(../images/ico-all.png) no-repeat -108px -313px;
}
.pt-list .pt-list-hb li.on{
	background-position: -81px -313px;
}
.pt-list .arrow{
	z-index: 999;
	cursor: pointer;
	position: absolute;
	top:50%;
	margin-top: -25px;
	width:28px;
	height: 51px;
	display: none;
	background: url(../images/arrow-bg.png) no-repeat;
}
.pt-list .arrow.active{
	display: block;
	animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
}
.pt-list .left-arrow{
	left:28px;
	background-position:0 0;
}
.pt-list .right-arrow{
	left:503px;
	background-position: -43px 0;
}
.pt-list-bd .pt-list-box .pic{
	width:550px;
	height: 450px;
}
.pt-list-bd .pt-list-box .pic img{
	width:100%;
	height: 100%;
}
.pt-list-bd .pt-list-box .info{
	padding: 0 20px;
	width:200px;
	height: 450px;
}
.pt-list-bd .pt-list-box .info .tit{
	line-height: 42px;
	display: block;
	font-size: 24px;
	padding: 24px 0 8px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pt-list-bd .pt-list-box .info .des{
	line-height: 26px;
	color: #666666;
	font-size: 14px;
	height: 100px;
	overflow: hidden;
}
.pt-list-bd .pt-list-box .info .field-select{
	position: relative;
	width:200px;
	height: 28px;
	border: 1px solid #b5b5b5;
	margin-top: 100px;
}

.pt-list-bd .pt-list-box .info .field-select .txt{
	float: left;
	width:180px;
	height: 28px;
	background: #eeeeee;
	text-indent: 8px;
	color: #999999;
}
.pt-list-bd .pt-list-box .info .field-select .btn{
	float: left;
	width:20px;
	border-left: 1px solid #b5b5b5;
	height: 28px;
	background: #eeeeee url(../images/arrow-up.png) no-repeat center center;
	cursor: pointer;
}
.pt-list-bd .pt-list-box .info .field-select .sel-box{
	position: absolute;
	top:30px;
	width:100%;
	background: #fff;
	display: none;
}
.pt-list-bd .pt-list-box .info .field-select .sel-box.active{
	display: block;
	animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
}
.pt-list-bd .pt-list-box .info .field-select .sel-box a{
	display: block;
	line-height: 29px;
	color: #999999;
	padding-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pt-list-bd .pt-list-box .info .field-select .sel-box a:hover{
	background: #f4f4f4;
}
.product2{
	background: #f5f5f5;
	padding-bottom: 23px;
}
.pt-tit-conmm{
	text-align: center;
	padding-bottom: 36px;
}
.pt-tit-conmm .ico{
	width:158px;
	height: 30px;
	margin: 15px auto 5px auto;
	display: block;
	background: url(../images/ico-all.png) no-repeat -342px -168px;
}
.pt-tit-conmm strong{
	display: block;
	font-size: 26px;
}
.pt-tit-conmm p{
	color: #999999;
	font-size: 16px;
	line-height: 24px;
}
.pt2-list li{
	float: left;
	width:368px;
	height: 380px;
	background: #fff;
	padding: 10px;
	margin-right: 18px;
	margin-bottom: 18px;
}
.pt2-list li.mr-r{
	margin-right: 0 !important;
}
.pt2-list li.mr-0{
	margin-right: 18px;
}
.pt2-list li:hover{
	box-shadow: 0 0 10px #ccc;
}
.pt2-list li .pic{
	width:368px;
	height: 239px;
}
.pt2-list li .pic img{
	width:100%;
	height: 100%;
}
.pt2-list li .tit{
	display: block;
	font-size: 16px;
	font-weight: bold;
	padding-top: 5px;
	line-height: 28px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pt2-list li .des{
	height: 51px;
	overflow: hidden;
	line-height: 24px;
	color: #999999;
	font-size: 14px;
}
.pt2-list li .op{
	padding-top: 20px;
}
.pt2-list li .op .price{
	float: left;
	color: #999999;
	font-size: 14px;
}
.pt2-list li .op .price b{
	font-size: 22px;
	color: #ff0000;
	font-weight: normal;
}
.pt2-list li .op .yd{
	float: right;
	width:111px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	background: #ff0000;
	border-radius: 15px;
	font-size: 14px;
}
.product3{
	background: #eeeeee;
}
.product3 .pt-list{
	background: #f5f5f5;
}
.product3 .pt-list-bd .pt-list-box .info .info-con{
	width:260px;
	height: 450px;
	display: table-cell;
	vertical-align: middle;
}
.product3 .pt-list-bd .pt-list-box .info .info-con .dz{
	display: block;
	border-radius: 5px;
	width:156px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	background: #f84f4f;
	color: #fff;
	font-size: 16px;
}
.product4{
	padding-bottom: 52px;
}
.pt4-list{
	height: 180px;
	padding: 10px 0;
	width:800px;
	box-shadow: 0 0 10px #ccc;
}
.pt4-list .pt4-list-box{
	width:790px;
	margin-left: 10px;
	height: 180px;
}
.pt4-list li{
	float: left;
	width:250px;
	height: 180px;
	overflow: hidden;
	position: relative;
	margin-right: 15px;
}
.pt4-list li .pic{
	position: absolute;
	top:0;
	left:0;
	width:250px;
	height: 180px;
}
.pt4-list li .info{
	position: absolute;
	bottom:0;
	height: 30px;
	background: url(../images/blue-50.png) repeat;
	color: #fff;
	padding: 0px 30px;
	text-align: center;
}

.pt4-list li .info h2{
	line-height: 30px;
}
.pt4-list li .info p{
	line-height: 22px;
}
.ad-box{
	position: relative;
	height: 300px;
	overflow: hidden;
}
.ad-box ul{
	width: 1920px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    overflow: hidden;
}
.ad-box ul li{
	float: left;
}
.ad-box ul a{
	display: table-cell;
    width: 1920px;
    height: 300px;
    vertical-align: middle;
    text-align: center;
}
.ad-box ul li a img{
	vertical-align: middle;
}


.slider{width:100%;min-width:560px;height:315px;position:relative;overflow:hidden;background:#fff;text-align:center;}
.slider .bd{width:560px;position:absolute;left:50%;margin-left:-160px;}
.slider .bd ul{position: relative;overflow: hidden;padding: 0px;margin: 0px;}
.slider .bd li{width:560px;overflow:hidden;}
.slider .bd li img{display:block;width:560px;height:315px;}
.slider .tempWrap{overflow:visible !important}
.slider .tempWrap ul{margin-left:-560px !important;}
.slider .hd{position:absolute;top:0; left:50%;margin-left: -410px;text-align: left; width:240px;overflow:hidden;height: 315px; z-index:99;}
.slider .hd .hd_con{width:240px;height: 315px; display: table-cell;vertical-align: middle;}
.slider .hd h2{color: #000000;font-size: 26px;line-height: 50px;}
.slider .hd p{color: #373737;line-height: 24px;font-size: 13px;}
.slider .hd a{ display: block;margin-top: 20px;border-radius: 5px; width:140px;height: 40px; line-height: 40px;text-align: center;background: #2fc163;font-size: 15px;color: #fff;}
.slider .pnBtn{position:absolute;top:0;width:100%;height:250px;cursor:pointer;}
.slider .prev{left:-50%;margin-left:-160px;}
.slider .next{left:50%;margin-left:400px;}
.slider .pnBtn .blackBg{display:block;position:absolute;left:0;top:0;width:100%;height:315px;background:#fff;filter:alpha(opacity=90);opacity:0.90;}
.slider .pnBtn .arrow{display:none;position:absolute;top:50%;z-index:999;width:16px; height:29px;margin-top: 15px;}
.slider .prev .arrow{right:-48px;background:url(../images/arrow_left2.png) no-repeat;}
.slider .next .arrow{left:-48px;background:url(../images/arrow_right2.png) no-repeat;}

.top{
	min-width: 800px;
}
.top .wm-1200{
	width:800px;
}
.header{
	min-width: 800px;
	height: 50px;
}
.header .logo{
	width:100px;
	height: 50px;
	line-height: 50px;
}
.header .logo img{
	max-width: 100px;
	height: 50px;
}
.header .menu{
	width:540px;
	height: 50px;
}
.header .menu li{
	line-height: 50px;
	margin: 0 7px;
}
.header .menu li a{
	font-size: 12px;
}
.header .wm-1200{
	width:800px;
}
.header .serach{
	margin-top: 10px;
}
.header .serach .txt{
	width:112px;
	height: 27px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	border: 1px solid #333;
	background: transparent;
	text-indent: 10px;
	color: #666;
	font-size: 14px;
}
.header .serach .btn{
	width:46px;
	height: 29px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	background: #333 url(../images/search.png) no-repeat center center;
	cursor: pointer;
}
.footer{
	min-width: 800px;
}
.footer .wm-1200{
	width:800px;
}
.footer .user-box{
	width:180px;
	float: right;
}
.footer .user-box .rel{
	font-size: 16px;
}
.footer .user-box .rel label{
	display: block;
}
.footer .user-box .links>a{
	margin-right: 30px;
}
.footer .help-box{
	width:150px;
}
.footer .user-box .logo{
	width:180px;
}
.footer .user-box .logo img{
	width:180px;
}
}
