<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>angularjs</title>
	<script src="angular.min.js"></script>
</head>
<body>
<div ng-app="qtt" ng-controller="ctrl"  style="text-align:center;">
	<table style="width:500px;margin:50px auto;" border="1">
		<thead>
			<tr>
				<th>
					<input type="checkbox" ng-model="all">
					<span ng-bind="all?'取消':'全选'"></span>
				</th>
				<th>
					网站
				</th>
				<th>
					网址
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(k,v) in data">
				<td>
					<input type="checkbox" ng-model="all">
				</td>
				<td>
					{{v.name}}
				</td>
				<td>
					{{v.url}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	//声明一个模块变量（类似于实例化一个前台模型）
 	var m = angular.module('qtt',[]);
 	//模型下的控制器，里面有个回调函数
 	m.controller('ctrl',['$scope',function ($scope){
 		$scope.data = [
 			{
 				name : '仇郯郯 官网',
 				url : 'www.qiutantan.com'
 			},
 			{
 				name : '仇郯郯 博客',
 				url : 'www.bbsqiutantan.com'
 			}
 		]
 	}])
</script>
</body>
</html>