<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>angularjs</title>
	<script src="angular.min.js"></script>
</head>
<body>
<div ng-app="qtt" style="text-align:center;" ng-controller="ctrl">
	<br/><input type="checkbox" class="chbeveryone" value="734932">
	{{name}}
	<input type="text" ng-model="name">
	<hr/>
	<qmj></qmj>
	<hr/>
	<qmj></qmj>
</div>
<script type="text/javascript">
	//声明一个模块变量（类似于实例化一个前台模型）
 	var m = angular.module('qtt',[]);
 	m.directive('qmj',[function(){
 		return {
 			restrict:'AEC',
 			template:'{{name}} <input type="text" ng-model="name">',
 			scope:{}
 		}
 	}]);
 	m.controller('ctrl',['$scope',function($scope){
 		$scope.name = "仇郯郯";
 	}]);
</script>
</body>
</html>